.datatable-editing-demo .editable-cells-table td.p-cell-editing {
    padding-top: 0;
    padding-bottom: 0;
}
.product-badge.status-reject {
    background: #FFCDD2;
    color: #C63737;
}
span.product-badge.status-accept {
    background: #C8E6C9;
    color: #256029;
}
.product-badge.status-new {
    background: #e2ce1a;
    color: #eeeee6;
}
span.product-badge.status-foodready {
    background: #ead4ec;
    color: #f109e6;
}
.product-badge.status-done {
    background: #6bb2ec;
    color: #2383af;
}

.datatable-editing-demo {
    margin-right: 30px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;

}